<div class="review-display">
    <div class="profile-display">&nbsp;</div>
    <div class="reviewer-display">
        <div id="name-display"> {{this.nameDisplay}} </div>
        <div id="label-display"> Reviewer </div>
        <div class="rating-and-date"> 
            <div id="rating-display"> {{this.ratingDisplay}} ★ </div>
            <div id="dot-display">•</div>
            <div id="date-display"> {{this.dateDisplay}} </div>
        </div>
    </div>
    <div class="upvote-container">
        <div class="upvote-display">&nbsp;</div>
        <div class="upvote-count-display"> {{this.upvotesDisplay}} </div>
    </div>
</div>
<div id="review-text-display"> {{this.reviewDisplay}} </div>
