<div class = "contents-container">
    
    <div lcass = "profile-container">
        <div class = "user-container">
            <div class = "user-profile">
                <div class = "icon-container">
                    <img src = {{currentUserPic}} alt = "Doggo Logo" class = "user-image">
                </div>
                
                <div class = "user-name">
                    {{{myName}}}
                    {{#if isOwner}}
                    <p> (Establishment Owner) </p>
                    <button type="submit"> Add Establishment </button>
                    {{else}}
                    <p> (Non-owner User)  </p>
                    {{/if}}
                </div>

                <div class = "user">
                    <h2 id="user-handle"> {{currUsername}} </h2>
                
                    <p> {{numReviews}} </p>
                </div>

                <div class = "description">
                    <p id="user-description"> {{userDescription}} </p>
                </div>

                <a href="/edit">
                    <button class = "btn">
                        Edit Profile
                    </button>
                </a>
            </div>

        </div>
    </div>

    
    <!--TODO: LINK THIS TO SHEYN AND ISAAC'S ADD REVIEW -->
    <div class = "user-more-info-container">
        
        <div class = "review-label">
            <h1> Reviews </h1>
        </div>

        <div class = "scrollbar-container">
            <div class = "scroll-object">
                <div class = "reviews-container">
                    <div class = "review">
                        {{#each reviews}}
                        {{>review}}
                        {{/each}}

                        {{#if showReply}}
                        <form action="/reply" method="post" class="reply">
                            <label for="description"> Reply to this Review: </label>
                            <textarea id="description" placeholder="Your reply here..." name="description"></textarea>
                            <input type="submit" value="Post Reply" class="reply-button">
                        </form>
                        
                        
                        <div class="review-replies-container">
                            <div id="reply-display">
                                <p class="username-display"> {{username}} <span class="replied">replied: </span></p>
                                <p> {{reply}} </p>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>